<?xml version="1.0"?>
<config>
	<engine>
		<title>Mini MegaMan X</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="true" />
	</render>
	<window>
		<resolution width="1280" height="768" scale="1" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<map path="Assets/Maps/" name="MegaManMini.tmx" />
		<entities>
			<player x="100" y="455" w="32" h="32" texture="Assets/Textures/player/Animations.png" gravity="true">
				<animations>
					<idle loop="true" speed="0.02">
						<frame x="0" y="0" w="32" h="34" />
						<frame x="32" y="0" w="32" h="34" />
						<frame x="64" y="0" w="32" h="34" />
					</idle>
					<idleL loop="true" speed="0.02">
						<frame x="96" y="0" w="32" h="34" />
						<frame x="128" y="0" w="32" h="34" />
						<frame x="160" y="0" w="32" h="34" />
					</idleL>
					<run loop="true" speed="0.23">
						<frame x="0" y="80" w="32" h="35" />
						<frame x="32" y="80" w="32" h="35" />
						<frame x="64" y="80" w="32" h="35" />
						<frame x="96" y="80" w="32" h="35" />
						<frame x="128" y="80" w="32" h="35" />
						<frame x="160" y="80" w="32" h="35" />
						<frame x="192" y="80" w="32" h="35" />
						<frame x="224" y="80" w="32" h="35" />
						<frame x="256" y="80" w="32" h="35" />
						<frame x="288" y="80" w="32" h="35" />
						<frame x="320" y="80" w="32" h="35" />
					</run>
					<runL loop="true" speed="0.23">
						<frame x="320" y="115" w="32" h="35" />
						<frame x="288" y="115" w="32" h="35" />
						<frame x="256" y="115" w="32" h="35" />
						<frame x="224" y="115" w="32" h="35" />
						<frame x="192" y="115" w="32" h="35" />
						<frame x="160" y="115" w="32" h="35" />
						<frame x="128" y="115" w="32" h="35" />
						<frame x="96" y="115" w="32" h="35" />
						<frame x="64" y="115" w="32" h="35" />
						<frame x="32" y="115" w="32" h="35" />
						<frame x="0" y="115" w="32" h="35" />
					</runL>
					<jump loop="true" speed="0.17">
						<frame x="0" y="34" w="32" h="46" />
						<frame x="32" y="34" w="32" h="46" />
						<frame x="64" y="34" w="32" h="46" />
						<frame x="96" y="34" w="32" h="46" />
						<frame x="128" y="34" w="32" h="46" />
						<frame x="160" y="34" w="32" h="46" />
					</jump>
					<jumpL loop="true" speed="0.17">
						<frame x="352" y="34" w="32" h="46" />
						<frame x="320" y="34" w="32" h="46" />
						<frame x="288" y="34" w="32" h="46" />
						<frame x="256" y="34" w="32" h="46" />
						<frame x="224" y="34" w="32" h="46" />
						<frame x="192" y="34" w="32" h="46" />
					</jumpL>
					<die loop="true" speed="0.1">
						<frame x="0" y="150" w="32" h="36" />
						<frame x="32" y="150" w="32" h="36" />
						<frame x="64" y="150" w="35" h="36" />
					</die>
					<dieL loop="true" speed="0.1">
						<frame x="166" y="150" w="32" h="36" />
						<frame x="134" y="150" w="32" h="36" />
						<frame x="99" y="150" w="35" h="36" />
					</dieL>
					<punch loop="true" speed="0.12">
						<frame x="0" y="186" w="37" h="36" />
						<frame x="37" y="186" w="37" h="36" />
						<frame x="74" y="186" w="37" h="36" />
						<frame x="111" y="186" w="37" h="36" />
						<frame x="148" y="186" w="37" h="36" />
					</punch>
					<punchL loop="true" speed="0.09">
						<frame x="183" y="186" w="39" h="36" />
						<frame x="224" y="186" w="39" h="36" />
						<frame x="263" y="186" w="39" h="36" />
						<frame x="302" y="186" w="39" h="36" />
					</punchL>
				</animations>
			</player>
			<items>
				<item name="coin" x="200" y="672" w="32" h="32" texture="Assets/Textures/goldCoin.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
						</idle>
					</animations>
				</item>
			</items>
			<enemies>
				<enemy name="MetallC15" x="448" y="456" w="22" h="21" texture="Assets/Textures/enemies/MetallC15.png" gravity="true" dead="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="22" h="21" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="21" w="22" h="21" />
							<frame x="22" y="21" w="22" h="21" />
							<frame x="44" y="21" w="22" h="21" />
						</appear>
						<idle loop="true" speed="0.2">
							<frame x="0" y="63" w="22" h="21" />
						</idle>
						<idleL loop="true" speed="0.2">
							<frame x="0" y="42" w="22" h="21" />
						</idleL>
						<walk loop="true" speed="0.15">
							<frame x="0" y="63" w="22" h="21" />
							<frame x="22" y="63" w="22" h="21" />
							<frame x="44" y="63" w="22" h="21" />
							<frame x="66" y="63" w="22" h="21" />
						</walk>
						<walkL loop="true" speed="0.15">
							<frame x="0" y="42" w="22" h="21" />
							<frame x="22" y="42" w="22" h="21" />
							<frame x="44" y="42" w="22" h="21" />
							<frame x="66" y="42" w="22" h="21" />
						</walkL>
					</animations>
				</enemy>
				<enemy name="MetallC15" x="1180" y="609" w="22" h="21" texture="Assets/Textures/enemies/MetallC15.png" gravity="true" dead="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="22" h="21" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="21" w="22" h="21" />
							<frame x="22" y="21" w="22" h="21" />
							<frame x="44" y="21" w="22" h="21" />
						</appear>
						<idle loop="true" speed="0.2">
							<frame x="0" y="63" w="22" h="21" />
						</idle>
						<idleL loop="true" speed="0.2">
							<frame x="0" y="42" w="22" h="21" />
						</idleL>
						<walk loop="true" speed="0.15">
							<frame x="0" y="63" w="22" h="21" />
							<frame x="22" y="63" w="22" h="21" />
							<frame x="44" y="63" w="22" h="21" />
							<frame x="66" y="63" w="22" h="21" />
						</walk>
						<walkL loop="true" speed="0.15">
							<frame x="0" y="42" w="22" h="21" />
							<frame x="22" y="42" w="22" h="21" />
							<frame x="44" y="42" w="22" h="21" />
							<frame x="66" y="42" w="22" h="21" />
						</walkL>
					</animations>
				</enemy>
				<enemy name="MetallC15" x="2375" y="385" w="22" h="21" texture="Assets/Textures/enemies/MetallC15.png" gravity="true" dead="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="22" h="21" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="21" w="22" h="21" />
							<frame x="22" y="21" w="22" h="21" />
							<frame x="44" y="21" w="22" h="21" />
						</appear>
						<idle loop="true" speed="0.2">
							<frame x="0" y="63" w="22" h="21" />
						</idle>
						<idleL loop="true" speed="0.2">
							<frame x="0" y="42" w="22" h="21" />
						</idleL>
						<walk loop="true" speed="0.15">
							<frame x="0" y="63" w="22" h="21" />
							<frame x="22" y="63" w="22" h="21" />
							<frame x="44" y="63" w="22" h="21" />
							<frame x="66" y="63" w="22" h="21" />
						</walk>
						<walkL loop="true" speed="0.15">
							<frame x="0" y="42" w="22" h="21" />
							<frame x="22" y="42" w="22" h="21" />
							<frame x="44" y="42" w="22" h="21" />
							<frame x="66" y="42" w="22" h="21" />
						</walkL>
					</animations>
				</enemy>
				<enemy name="MetallC15" x="3228" y="417" w="22" h="21" texture="Assets/Textures/enemies/MetallC15.png" gravity="true" dead="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="22" h="21" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="21" w="22" h="21" />
							<frame x="22" y="21" w="22" h="21" />
							<frame x="44" y="21" w="22" h="21" />
						</appear>
						<idle loop="true" speed="0.2">
							<frame x="0" y="63" w="22" h="21" />
						</idle>
						<idleL loop="true" speed="0.2">
							<frame x="0" y="42" w="22" h="21" />
						</idleL>
						<walk loop="true" speed="0.15">
							<frame x="0" y="63" w="22" h="21" />
							<frame x="22" y="63" w="22" h="21" />
							<frame x="44" y="63" w="22" h="21" />
							<frame x="66" y="63" w="22" h="21" />
						</walk>
						<walkL loop="true" speed="0.15">
							<frame x="0" y="42" w="22" h="21" />
							<frame x="22" y="42" w="22" h="21" />
							<frame x="44" y="42" w="22" h="21" />
							<frame x="66" y="42" w="22" h="21" />
						</walkL>
					</animations>
				</enemy>
				<enemy name="MetallC15" x="5260" y="385" w="22" h="21" texture="Assets/Textures/enemies/MetallC15.png" gravity="true" dead="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="22" h="21" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="21" w="22" h="21" />
							<frame x="22" y="21" w="22" h="21" />
							<frame x="44" y="21" w="22" h="21" />
						</appear>
						<idle loop="true" speed="0.2">
							<frame x="0" y="63" w="22" h="21" />
						</idle>
						<idleL loop="true" speed="0.2">
							<frame x="0" y="42" w="22" h="21" />
						</idleL>
						<walk loop="true" speed="0.15">
							<frame x="0" y="63" w="22" h="21" />
							<frame x="22" y="63" w="22" h="21" />
							<frame x="44" y="63" w="22" h="21" />
							<frame x="66" y="63" w="22" h="21" />
						</walk>
						<walkL loop="true" speed="0.15">
							<frame x="0" y="42" w="22" h="21" />
							<frame x="22" y="42" w="22" h="21" />
							<frame x="44" y="42" w="22" h="21" />
							<frame x="66" y="42" w="22" h="21" />
						</walkL>
					</animations>
				</enemy>
				<enemy name="MetallC15" x="5336" y="225" w="22" h="21" texture="Assets/Textures/enemies/MetallC15.png" gravity="true" dead="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="22" h="21" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="21" w="22" h="21" />
							<frame x="22" y="21" w="22" h="21" />
							<frame x="44" y="21" w="22" h="21" />
						</appear>
						<idle loop="true" speed="0.2">
							<frame x="0" y="63" w="22" h="21" />
						</idle>
						<idleL loop="true" speed="0.2">
							<frame x="0" y="42" w="22" h="21" />
						</idleL>
						<walk loop="true" speed="0.15">
							<frame x="0" y="63" w="22" h="21" />
							<frame x="22" y="63" w="22" h="21" />
							<frame x="44" y="63" w="22" h="21" />
							<frame x="66" y="63" w="22" h="21" />
						</walk>
						<walkL loop="true" speed="0.15">
							<frame x="0" y="42" w="22" h="21" />
							<frame x="22" y="42" w="22" h="21" />
							<frame x="44" y="42" w="22" h="21" />
							<frame x="66" y="42" w="22" h="21" />
						</walkL>
					</animations>
				</enemy>
				<enemy name="BattonBone" x="3999" y="142" w="21" h="21" texture="Assets/Textures/enemies/BattonBone.png" gravity="true" dead="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="39" h="22" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="22" w="39" h="22" />
							<frame x="39" y="22" w="39" h="22" />
							<frame x="78" y="22" w="39" h="22" />
						</appear>
						<fly loop="true" speed="0.15">
							<frame x="0" y="44" w="39" h="22" />
							<frame x="39" y="44" w="39" h="22" />
							<frame x="78" y="44" w="39" h="22" />
							<frame x="117" y="44" w="39" h="22" />
						</fly>
					</animations>
				</enemy>
				<enemy name="BattonBone" x="4480" y="78" w="21" h="21" texture="Assets/Textures/enemies/BattonBone.png" gravity="true" dead="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="39" h="22" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="22" w="39" h="22" />
							<frame x="39" y="22" w="39" h="22" />
							<frame x="78" y="22" w="39" h="22" />
						</appear>
						<fly loop="true" speed="0.15">
							<frame x="0" y="44" w="39" h="22" />
							<frame x="39" y="44" w="39" h="22" />
							<frame x="78" y="44" w="39" h="22" />
							<frame x="117" y="44" w="39" h="22" />
						</fly>
					</animations>
				</enemy>
				<enemy name="BattonBone" x="4442" y="408" w="21" h="21" texture="Assets/Textures/enemies/BattonBone.png" gravity="true" dead="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="39" h="22" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="22" w="39" h="22" />
							<frame x="39" y="22" w="39" h="22" />
							<frame x="78" y="22" w="39" h="22" />
						</appear>
						<fly loop="true" speed="0.15">
							<frame x="0" y="44" w="39" h="22" />
							<frame x="39" y="44" w="39" h="22" />
							<frame x="78" y="44" w="39" h="22" />
							<frame x="117" y="44" w="39" h="22" />
						</fly>
					</animations>
				</enemy>
				<enemy name="BattonBone" x="5189" y="561" w="21" h="21" texture="Assets/Textures/enemies/BattonBone.png" gravity="true" dead="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="39" h="22" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="22" w="39" h="22" />
							<frame x="39" y="22" w="39" h="22" />
							<frame x="78" y="22" w="39" h="22" />
						</appear>
						<fly loop="true" speed="0.15">
							<frame x="0" y="44" w="39" h="22" />
							<frame x="39" y="44" w="39" h="22" />
							<frame x="78" y="44" w="39" h="22" />
							<frame x="117" y="44" w="39" h="22" />
						</fly>
					</animations>
				</enemy>
			</enemies>
		</entities>
	</scene>
</config>
